body {font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --background-color: white;
    --color: maroon;
}

#wrapper{ background-color:var(--background-color);
    color:var(--color);
    margin: auto;
    min-width:860px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 130px auto;
}

header{ grid-column: 1 / 3; grid-row: 1 / 3; 
    background-color: maroon;
    color: white; 
    font-size: 200%; 
    padding: 0px 30px;
    line-height: 40px;
}

#leftcolumn { grid-column: 1 / 2; grid-row: 2 / 3;
    padding-top: 20px;
    background-color:var(--background-color);
    color:var(--color);
} 

nav li {
    background-color:maroon;
    list-style-type: none;
    margin-bottom: 10px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    height: 45px;
    line-height: 45px;
}

nav li a {
    color:white;
    text-decoration: none;
}

nav li:hover, li:active {
    background-color: red;
  }

#rightcolumn { grid-column: 2 / 3; grid-row: 2 / 3;
    background-color:var(--background-color);
    color:var(--color);
    line-height: 24px;
    text-align: center;

} 

main {padding: 20px 100px 50px 100px; 
} 

li {
    list-style-type: none;
    text-align: center;
} 

footer { grid-column: 1/ 3; grid-row: 3 / 3; 
    background-color:maroon;
    color: white; 
    padding: 20px 30px;
}	